<!DOCTYPE html>
  <html>
  	<head>
  		<% include ./partials/head %>
  	</head>
  	<body>
  	  <header>
  		<% include ./partials/header %>
  	  </header>
  	    <a href='/schools' class='btn btn-waves'>Back</a>
  	    <h1 class='center'><%= school.title %></h1>
  	    <hr />
  	    <% var action = '/schools/edit/' + school.id %>
  	    <form action=<%= action %> method='post'>
  	    	<input type='text' name='title' value=<%= school.title %> />
  	    	<input type='text' name='description' value=<%= school.description %> />
  	    	<button class='btn btn-waves'>Update</button>
           <form action=<%= action %> method='POST'>
            <button class='btn waves-effect' type='submit'>Delete</button>
          </form>
  	    </form>
  	</body>
  </html>